# Eclipse
*.classpath
*.project
.settings/

# Intellij
**/.idea/
.idea/
*.iml
*.iws

# Maven
**/target/
**/src/main/sources/
**/rebel.xml
**/faces-config.pageflow
/pmd-cache
/projects/gbs/sde/docker/docker-registry/data
/projects/gbs/.vagrant
/projects/gbs/ubuntu-xenial-16.04-cloudimg-console.log

/ubuntu-xenial-16.04-cloudimg-console.log
.vagrant
